@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Popping', Arial, Helvetica, sans-serif
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: aliceblue;
    color: black;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: rgb(107, 33, 33);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color:white;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color:white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color:rgb(106, 27, 180);
    border-bottom: 3px solid rgb(106, 27, 180);
}
    
@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid rgb(156, 79, 79);
        border-bottom: 3px solid rgb(156, 79, 79);
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: rgb(107, 33, 33);
        border-top: 0.1rem solid rgba(0,0,0,0,1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5s solid rgb(106, 27, 180);
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.HOME{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: aliceblue;
}

.HOME .HOME-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: rgb(107, 33, 33);
}

.HOME-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.HOME-content p{
    font-size: 1.6rem;
}

.HOME-img{
    border-radius: 50%;
}

.HOME-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid rgb(107, 33, 33);
    cursor: pointer;
    transition: 0.2s linear;
}

.HOME-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Aku mahasiswi Manajemen";
    color: rgb(107, 33, 33);
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: aliceblue;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 30px solid aliceblue;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid rgb(99, 30, 30);

    }
}

@keyframes words{
    0%, 20%{
        content: "Hayati bila produktif";
    }
    21%, 40%{
        content: "Fatimah bila pintar";
    }
}

@media (max-width: 1000px){
    .HOME{
        gap: 4rem;
    }
}

@media (max-width: 995px){
    .HOME{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .HOME .HOME-content h3{
        font-size: 2.5rem;
    }

    .HOME-content h1{
        font-size: 5rem;
    }

    .HOME-img img{
        width: 70vw;

    }
}

/* MATERI section styling */
.MATERI-section {
    color: aliceblue;
    background: rgb(99, 30, 30);
    padding: 50px 0 100px;

}


.MATERI-section .MATERI-list{
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    align-items: center;
    justify-content: space-between;

}

.MATERI-section .MATERI-list .MATERI-explain {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column; 
    justify-content: space-between;
    width: calc(100% / 3 - 110px);
}

.MATERI-section .MATERI-list .MATERI-explain .MATERI-image {
    max-width: 83%;
    aspect-ratio: 1;
    margin-top: 15px;
    object-fit: contain;
}

.MATERI-section .MATERI-list .MATERI-explain .name {
    margin: 12px 0;
    font-size: var(--font--size-1);
    font-weight: var(--font-weight-semibold);
}

.MATERI-section .MATERI-list .MATERI-explain .text {
    font-size: var(--font--size-m);
}

/* Responsive media query code for max width 1024px */
@media  and (max-width: 1024px) {
    .MATERI-section .MATERI-list {
        gap: 60px;
    }

    .MATERI-section .MATERI-list .MATERI-explain {
        width: calc(100% / 3 - 60px);
    
    }
}

/* Responsive media query code for max width 900px */
@media screen and (max-width: 900px) {
    
}

    body.show-mobile-MATERI header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgb(23, 23, 53);
    }
    
    .navbar :where(#MATERI-close-button, #MATERI-open-button) {
        display: block;
        font-size: var(--font--size-1);
    }

    .navbar #MATERI-close-button {
        position: absolute;
        right: 30px;
        top: 30px;
    }
        
    .navbar #MATERI-open-button {
        color: rgb(99, 30, 30);
    }
    color: rgb(156, 79, 79);
    
    .MATERI{
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background-color: rgb(156, 79, 79);
        transition: left 0.2s ease;
    }

    body.show-mobile-MATERI .MATERI{
        left: 0;
    }

    .MATERI .MATERI-link{
        color: rgb(23, 23, 53);
        display: block;
        margin-top: 17px;
        font-size: var(--font--size-1);
    }

    .MATERI-section .MATERI-list {
        gap: 30px;
    }

    .MATERI-section .MATERI-list .MATERI-explain{
        width: calc(100% / 3 - 30px);
    }

    .MATERI-section .MATERI-list .MATERI-explain .MATERI-image {
        max-width: 200px;

    }

@media  and (max-width: 640%) {
 .MATERI-section .MATERI-list {
    gap: 60px;
 }

 .MATERI-section .MATERI-list .MATERI-explain {
    width: 100%;
 }
} 


.video-wrapper {
    position: relative;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
    border-radius: 15px;       /* bikin sudut melengkung */
    background-color: rgb(99, 30, 30);
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ppt-wrapper iframe {
    position: relative;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
    border-radius: 15px;       /* bikin sudut melengkung */
    background-color: rgb(99, 30, 30);
}

